<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_LocalStorage>
            <version>0.1.0</version>
        </IntegerNet_LocalStorage>
    </modules>
    <global>
        <helpers>
            <integernet_localstorage>
                <class>IntegerNet_LocalStorage_Helper</class>
            </integernet_localstorage>
        </helpers>
        <blocks>
            <integernet_localstorage>
                <class>IntegerNet_LocalStorage_Block</class>
            </integernet_localstorage>
        </blocks>
        <models>
            <integernet_localstorage>
                <class>IntegerNet_LocalStorage_Model</class>
            </integernet_localstorage>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <integernet_localstorage>
                    <file>integernet_localstorage.xml</file>
                </integernet_localstorage>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <integernet_localstorage>
                        <class>integernet_localstorage/observer</class>
                        <method>sendCookie</method>
                    </integernet_localstorage>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <IntegerNet_LocalStorage />
            </modules>
        </suite>
    </phpunit>
</config>